body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif, verdana;
    background-color: rgb(70, 67, 67);
}

h1 {
    background-color: lightgreen; 
    padding: 20px;
    font-weight: bold;
    text-align: center;
}


h2 {
    color: white;
}
.container {
    text-align: left;
    height: 400px;
}

input {
    margin: 10px;
}

.row {
    padding: 10px;
    width: 50%;
}

footer {
    text-align: center;
    color: white;
}